<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <app-article-item
                *ngFor="let article of articles"
                [article]="article"></app-article-item>
        </div>
    </div>
</div>