/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color: rgb(240, 240, 240);
    font-weight: bold;
    font-family: 'HelveticaNeueBold',Helvetica,Arial,sans-serif;
}