<div class="card card-container">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li class="badge">{{ article.id }}</li>
      </ul>
      <img [src]="article.image" src="" class="img-responsive" alt="{{ article.name }}" >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="text-center"><span class="article-name">{{ article.name }}</span></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 article-bottom">
      <button class="btn btn-success pull-left" (click)="onBuyClicked(article.id)">BUY</button>
      <p class="pull-right"><span class="article-price">£{{ article.price }}</span></p>
    </div>
  </div>
</div>
