.card-container.card {
    min-width: 200px;
    width: 200px;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
}

ul {
    -webkit-padding-start: 0px;
}

.article-bottom>button {
    margin: 10px;
    font-weight: bold;
}

.article-bottom>p {
    margin: 15px;
    font-weight: bold;
    font-size: 1.4em;
    color: #ff9702;
}

.article-name {
    font-weight: bold;
    color: #2584c3;
    font-size: 1.4em;
}

.badge {
    color: whitesmoke;
    background-color: #ff9702;
    border-radius: 0;
    font-weight: bold;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    padding-top: 12px;
}

.card {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}